@import "../../../../scss-config/variables.scss";
@import "../../../../scss-config/functions.scss";

.card {
    width: rem-calc(290);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem-calc(156);

    color: black;
    background-color: $color-white;

    padding: rem-calc(20);
    border-radius: 10px;

    transition: 0.3s all;

    &:hover,
    &:focus {
        transform: scale(1.1);
        -webkit-box-shadow: 0px 3px 10px 5px $label-color;
        box-shadow: 0px 3px 10px 5px $label-color;
    }

    h2 {
        font-weight: bold;
        font-style: italic;
        margin-bottom: rem-calc(10);
    }

    &__datails {
        ul {
            display: flex;
            flex-direction: column;
            gap: 11px;

            list-style: none;
        }

        p {
        }
    }

    .chips {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            background-color: $label-color;
            border-radius: 8px;
            text-align: center;
            color: $primary-color;
            font-weight: 600;
            //width: 90%;
            //margin-bottom: rem-calc(8);
            //padding: 2px;
        }

        margin-bottom: 10px;
    }

    &__image {
        background: url("/assets/img/background-list-pokemons.svg");
        background-repeat: no-repeat;
        height: rem-calc(90);
        width: rem-calc(110);
        position: relative;

        img {
            position: absolute;
            bottom: 4px;
            right: 15px;
            height: 80px;
        }
    }
}
