@import "../../../scss-config/functions.scss";
@import "../../../scss-config/variables.scss";

.search {
    width: 100%;
    margin-bottom: rem-calc(20);

    form {
        background-color: rgba(255, 255, 255, 0.2);

        border-radius: 10px;
        padding: rem-calc(10);

        display: flex;
        justify-content: space-between;
        align-items: center;

        input[type="text"] {
            background: none;
            width: 95%;
            padding: rem-calc(5);
            border: none;
            color: $color-white;
            font-weight: 400;
            outline: none;

            &::placeholder {
                color: $color-white;
                font-weight: inherit;
            }
        }

        button[type="submit"] {
            display: grid;
            place-items: center;
        }

        &.focus-form {
            outline: 2px solid white;
        }
    }

    .material-symbols-outlined {
        color: white;
    }
}

.poke {
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}
