<section class="search">
    <form [ngClass]="{ 'focus-form': inputOnFocus }">
        <input
            type="text"
            placeholder="Buscar Pokemon..."
            aria-label="buscar pokemon"
            (focus)="setFormOutline()"
            (blur)="removeFormOutline()"
        />

        <button type="submit" aria-label="buscar">
            <span class="material-symbols-outlined" aria-hidden="true"> search </span>
        </button>
    </form>
</section>

<section class="poke__list">
    <div *ngFor="let pokemon of pokemons">
        <poke-card [pokemon]="pokemon"></poke-card>
    </div>
</section>
